* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cbcbcb;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cbcbcb; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #cbcbcb; }

@media only screen and (max-width: 68.75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.alert-image {
  height: .8rem;
  margin-right: 3px;
  border-radius: 3px; }

.container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #e0e404 10%, #108dc7);
  padding: 0 5px 0 10px;
  border-radius: 5px; }

.box {
  height: 25px;
  margin: 0 auto;
  border: 2px outset buttonface;
  background-color: transparent;
  transform: scale(1.5); }
  @media only screen and (max-width: 26em) {
    .box {
      transform: scale(1); } }
  .box:hover, .box:active {
    transform: scale(2); }
    @media only screen and (max-width: 26em) {
      .box:hover, .box:active {
        transform: scale(1.5); } }

.box > p {
  color: white;
  font-family: lato;
  font-size: 1rem;
  font-weight: 400; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.footer {
  background-color: #333;
  padding: 2rem 3rem; }
  @media only screen and (max-width: 26em) {
    .footer {
      padding: 1rem 1rem; } }
  .footer__topRow {
    display: flex;
    justify-content: space-between; }
    .footer__topRow--menu {
      text-transform: uppercase; }
    .footer__topRow ul {
      list-style: none;
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .footer__topRow ul {
          flex-flow: column; } }
    .footer__topRow--menu li,
    .footer__topRow--contact li {
      margin: 0 1.7rem;
      font-size: 120%; }
      @media only screen and (max-width: 56.25em) {
        .footer__topRow--menu li,
        .footer__topRow--contact li {
          font-size: 90%;
          margin: 0 0; } }
    .footer__topRow--menu li a:link,
    .footer__topRow--menu li a:visited,
    .footer__topRow--contact li a:link,
    .footer__topRow--contact li a:visited {
      text-decoration: none;
      border: 0;
      color: #888;
      transition: color 0.4s; }
    .footer__topRow--menu li a:hover,
    .footer__topRow--menu li a:active,
    .footer__topRow--contact li a:hover,
    .footer__topRow--contact li a:active {
      color: #dfdfdf; }
    .footer__topRow--contact img {
      height: 1.5rem;
      border-radius: 5px; }
      .footer__topRow--contact img:link, .footer__topRow--contact img:visited {
        transition: all 0.4s; }
      .footer__topRow--contact img:hover, .footer__topRow--contact img:active {
        transform: scale(1.5); }
  .footer__copy {
    color: #888;
    text-align: center;
    margin-top: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copy {
        font-size: 90%; } }

.header {
  background-color: #1a2124;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/feedbackPointingCrop.jpg);
  background-repeat: no-repeat;
  background-position: 50% 3%;
  background-size: 100%;
  height: 85vh; }
  .header__topline {
    display: flex;
    justify-content: space-between; }
    .header__topline--logo {
      height: 4rem;
      opacity: .4; }
    .header__topline--mainNav {
      margin-top: 1.5rem;
      flex: 0 0 1;
      display: flex;
      list-style: none; }
      @media only screen and (max-width: 37.5em) {
        .header__topline--mainNav {
          flex-flow: column; } }
      .header__topline--mainNav-item {
        margin: 0 2rem;
        color: #e4e4e4; }
        @media only screen and (max-width: 37.5em) {
          .header__topline--mainNav-item:last-child {
            display: none; } }

.header__hero {
  position: absolute;
  top: 43%;
  left: 29%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 68.75em) {
    .header__hero {
      left: 36%; } }
  @media only screen and (max-width: 56.25em) {
    .header__hero {
      left: 50%;
      width: 100%; } }
  .header__hero--mainText, .header__hero--subText {
    text-align: center;
    color: #1299d8;
    font-weight: 400; }
  .header__hero--mainText {
    font-size: 182%; }
    @media only screen and (max-width: 68.75em) {
      .header__hero--mainText {
        font-size: 130%; } }
    @media only screen and (max-width: 37.5em) {
      .header__hero--mainText {
        font-size: 95%; } }
  .header__hero--subText {
    font-size: 280%; }
    @media only screen and (max-width: 68.75em) {
      .header__hero--subText {
        font-size: 208%; } }

.header__.btn {
  padding: 1.5rem;
  border-radius: .3rem;
  margin: 1rem 0;
  background-color: #f1f141;
  border: 1px solid #f1f141; }

.about {
  background-color: #e7e7e7;
  margin-top: 1rem; }
  .about__container {
    width: 72%;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: .5rem; }
    .about__container p {
      margin-top: 1rem; }
    .about__container a {
      text-decoration: none;
      color: #46b1e2;
      font-weight: 400;
      font-size: 95%;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      transition: border-bottom, color 0.4s; }
    .about__container h2 {
      text-align: center;
      margin: 0 auto; }
      .about__container h2:after {
        display: block;
        height: 2px;
        background-color: #108dc7;
        content: ' ';
        width: 100px;
        margin: 0 auto;
        margin-top: 30px; }

.section-about a:hover,
.section-about a:active {
  color: #108dc7;
  border-bottom: 2px solid #108dc7; }

.formStart {
  opacity: 0;
  visibility: hidden; }

.survey {
  background-color: #fcfcfc;
  width: 100%; }
  .survey__headingContainer--heading {
    padding-top: 4rem;
    font-size: 240%;
    font-weight: 400;
    text-align: center; }
    .survey__headingContainer--heading:after {
      display: block;
      height: 2px;
      background-color: #108dc7;
      content: ' ';
      width: 100px;
      margin: 0 auto;
      margin-top: 30px; }
  .survey__headingContainer--subHeading {
    text-align: center;
    margin: 2rem 0;
    font-weight: 400; }
  .survey__table {
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column;
    border: 7px double #46b1e2;
    border-radius: 10px; }
    @media only screen and (max-width: 37.5em) {
      .survey__table {
        padding: 1rem; } }
    .survey__table--row {
      display: flex;
      flex: 0 0 50%;
      justify-content: space-between; }
      @media only screen and (max-width: 56.25em) {
        .survey__table--row {
          flex-flow: column; } }
      .survey__table--row:not(:last-child) {
        border-bottom: 1px solid #46b1e2; }
      .survey__table--rowHeading {
        flex: 0 0 55%; }
        .survey__table--rowHeading-row1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem 0 2rem;
          font-size: 87%; }
          @media only screen and (max-width: 68.75em) {
            .survey__table--rowHeading-row1 {
              padding: 0;
              padding-right: .5rem; } }
          @media only screen and (max-width: 37.5em) {
            .survey__table--rowHeading-row1 {
              font-size: 65%; } }
          .survey__table--rowHeading-row1Ins {
            color: #108dc7;
            font-weight: 600;
            letter-spacing: 8.7px;
            font-size: 140%; }
            @media only screen and (max-width: 56.25em) {
              .survey__table--rowHeading-row1Ins {
                letter-spacing: 3.7px; } }
            @media only screen and (max-width: 37.5em) {
              .survey__table--rowHeading-row1Ins {
                letter-spacing: 3.7px; } }
            @media only screen and (max-width: 26em) {
              .survey__table--rowHeading-row1Ins {
                letter-spacing: 3.0px;
                font-size: 100%; } }
    .survey__table--col, .survey__table--colHeading {
      flex: 0 0 15%;
      border-left: 1px solid #46b1e2;
      padding: 4px; }
      @media only screen and (max-width: 56.25em) {
        .survey__table--col, .survey__table--colHeading {
          flex: 0 0 25%; } }
      @media only screen and (max-width: 37.5em) {
        .survey__table--col, .survey__table--colHeading {
          flex: 0 0 36%; } }
      @media only screen and (max-width: 26em) {
        .survey__table--col, .survey__table--colHeading {
          flex: 0 0 45%; } }
      .survey__table--col > input, .survey__table--colHeading > input {
        border-radius: 5px;
        height: 1.5rem;
        width: 100%; }
    .survey__table--col {
      display: flex;
      justify-content: center;
      align-items: center; }
      .survey__table--col > input {
        width: 2rem;
        height: 2rem;
        border: 1px solid #e4e4e4;
        text-align: center; }
    .survey__table--colHeading > input {
      width: 100%;
      height: 1.5rem; }
      @media only screen and (max-width: 56.25em) {
        .survey__table--colHeading > input {
          width: 15rem; } }
    .survey__table--comments {
      height: 8rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .survey__table--comments {
          padding: 1.5rem .5rem 0;
          font-size: 80%; } }
      .survey__table--comments > textarea {
        flex: 0 0 75%;
        border-radius: 10px;
        margin-left: .5rem; }
    .survey__table--speakPositively > p {
      margin-bottom: 1.5rem; }
    .survey__table--speakPositively-label {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem; }
    .survey__table--nameOptional > p > input {
      margin-left: 1rem;
      height: 1.5rem;
      width: 15rem;
      padding: 2px;
      transform: translateY(-4px);
      border-radius: 5px; }
      @media only screen and (max-width: 26em) {
        .survey__table--nameOptional > p > input {
          width: 12rem; } }
    .survey__table--nameOptional > div {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem; }
    .survey__table--nameOptional > textarea {
      width: 100%;
      height: 15rem;
      border-radius: 10px; }
  .survey__submitContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem; }
    .survey__submitContainer--btn {
      background-color: #108dc7;
      height: 3rem;
      padding: .5rem 1rem;
      font-size: 140%;
      border-radius: 15px;
      letter-spacing: 1.3px;
      color: #fff; }
      .survey__submitContainer--btn:hover, .survey__submitContainer--btn:active {
        transform: scale(1.05); }
    .survey__submitContainer--response {
      padding: 1rem 1.5rem;
      font-size: 80%;
      font-weight: 400;
      width: 30%;
      margin: 0 auto 1.5rem;
      border-radius: 15px;
      transform: translateY(-4px);
      color: #fff;
      border: 2px outset buttonface;
      border-image: initial; }
      @media only screen and (max-width: 56.25em) {
        .survey__submitContainer--response {
          width: 80%; } }
      .survey__submitContainer--response-success {
        background-color: #46b1e2; }
      .survey__submitContainer--response-fail {
        background-color: #e0e404;
        color: #333; }

.phoneOnly {
  display: none;
  color: #d5d7da;
  font-size: 80%;
  margin-right: .5rem; }
  @media only screen and (max-width: 56.25em) {
    .phoneOnly {
      display: block; } }
