* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/feedbackPointing.jpg");
  background-repeat: no-repeat;
  background-position: 85% 12%;
  background-size: 100%;
  height: 85vh;
  opacity: 1; }
  .header__topline {
    display: flex; }
    .header__topline--logo {
      height: 4rem;
      opacity: .4; }
    .header__topline--mainNav {
      margin-top: 1.5rem;
      display: flex;
      list-style: none; }
      .header__topline--mainNav-item {
        margin: 0 3rem;
        color: white; }

.header__hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; }

.header__.btn {
  padding: 1.5rem;
  border-radius: .3rem;
  margin: 1rem 0;
  background-color: #f1f141;
  border: 1px solid #f1f141; }

.cssWorks {
  color: #be2c2c; }

.ion-alert-circled {
  margin: 0 5px;
  color: tomato; }

.processTable {
  background-color: #efefef;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: column; }
  .processTableCategory__header--categoryName {
    border: 5px double green;
    background-color: #fff;
    padding: 10px 20px 10px 35px;
    font-size: 140%; }
  .processTableCategory__Item {
    display: flex;
    border: 1px solid green; }
    .processTableCategory__Item--name, .processTableCategory__Item--description, .processTableCategory__Item--info {
      flex: 0 0 33.33333%; }
  .processTableCategory--lightBulb {
    background-color: #f8cb79; }
