.header {
    &__hero {
        position: absolute;
        top: 40%;
        left: 29%;
        transform: translate(-50%, -50%);

        &--mainText,
        &--subText {
            text-align: center;
            color: #108dc7;
            
            font-weight: 300;   
        }

        &--mainText {
            font-size: 182%;
        }
        &--subText {
            font-size: 280%;
        }
    }
    &__.btn {
        padding: 1.5rem;
        border-radius: .3rem;
        margin: 1rem 0;
        background-color: rgb(241, 241, 65);
        border: 1px solid rgb(241, 241, 65);
    }
}