.processTable {
    background-color: #efefef;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    &Category {
        &__header {
            &--categoryName {
                border: 5px double green;
                background-color: #fff;
                padding: 10px 20px 10px 35px;
                font-size: 140%;
            }
        }


        &__Item {
            display: flex;
            //justify-content: space-between;
            border: 1px solid green;

            &--name,
            &--description,
            &--info {
                flex: 0 0 33.33333%;
            }

        }
        &--lightBulb {
            background-color: rgb(248, 203, 121);
        }
    }
}