//Rating scale

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, $colorSecondary 10%, $colorPrimary);
    width: 500px;
    
}

.box {
    height: 50px;
    width: 50px;
    margin: 0 auto;

    border: 2px outset buttonface;
    background-color: transparent;
    &:hover,
    &:active {
        transform: scale(1.5);
    }
}

.box>p {
    color: white;
    font-family: lato;
    font-size: 1rem;
    font-weight: 400;
}